name: "RTL-HAOS"
description: "RTL-SDR to Home Assistant MQTT bridge with signal diagnostics and system monitoring"
version: "1.0.33a1"
slug: rtl-haos
url: "https://github.com/jaronmcd/rtl-haos"
arch:
  - amd64
  - aarch64
  - armv7
init: false
usb: true
uart: true
startup: services
boot: auto
options:
  mqtt_host: ""
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_pass: ""
  bridge_id: "42"                   
  bridge_name: "rtl-haos-bridge"
  rtl_expire_after: 600
  rtl_throttle_interval: 30
  debug_raw_json: false
  # NEW: Global Defaults for Auto Mode
  rtl_default_freq: "433.92M"
  rtl_default_hop_interval: 60
  rtl_config: []
  device_blacklist:
    - "SimpliSafe*"
    - "EezTire*"
  device_whitelist: []
schema:
  mqtt_host: str
  mqtt_port: port
  mqtt_user: str
  mqtt_pass: password
  bridge_id: str
  bridge_name: str
  rtl_expire_after: int
  rtl_throttle_interval: int
  debug_raw_json: bool
  # NEW: Global Defaults Schema
  rtl_default_freq: str
  rtl_default_hop_interval: int
  rtl_config:
    - name: str
      id: str
      freq: str
      rate: str?
      hop_interval: int?  # <--- Added this field
  device_blacklist:
    - str
  device_whitelist:
    - str
services:
  - mqtt:want
map:
  - config